@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

:root {
  --cor0: #ffffff;
  --cor1: #a7a5c6;
  --cor2: #8797b2;
  --cor3: #6d8a96;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: var(--cor2);
}

main {
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background: var(--cor0);
}

.img {
    margin: 20px 10px 10px 10px;
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.main-txt {
    margin: auto;
    height: auto;
    text-align: center;
}

.main-txt h1 {
    margin: 30px 20px 20px 20px;
    font-size: 25px;
}

.main-txt p {
    margin: 20px 10px 40px 10px;
    font-size: 15px;
}
